.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*form page*/
.formContainer{
  background-color: #bde8f1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*inside the form and how the different div will be portrayed*/
.formContainer > .formWrapper > form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}


/*form page main container*/
.formWrapper{
  background-color: #f2f2f0;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

/*form page title*/
.logo{
  color: #0e59A0;
  font-weight: bold;
  font-size: 24px;
}

/*form page title*/
.title{
  color: #0d0d0d;
  font-weight: bold;
  font-size: 15px;
}

/*form page button*/
button {
  background-color: #0e59A0;
  color: white;
  padding: 10px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

/*Register page*/
.formContainer > .formWrapper > form > input {
  padding: 15px;
  border: none;
  border-bottom: 1px solid #0e59A0;
  width: 250px;
  
}

/*Register page adding file*/
.formContainer > .formWrapper > form >  label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #0e59A0;
cursor: pointer;
}

/*Register page adding file image*/
.formContainer > .formWrapper > form >  label >img {
  width: 32px;
}
